---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="book-open" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Novice mais compétent</h2>
		<p>Bien que mon expérience en informatique soit assez récente, cela fait désormais 4 ans que j'étudies dans ce domaine et j'ai pu acquérir un grand nombre de compétences et réaliser un bon nombre de projets. Je sais que les recruteurs ont souvent tendance à préférer les étudiants en cycle ingénieur, mais beaucoup de ces étudiants n'ont pas ou peu fais d'informatique en classe préparatoire contrairement au DUT qui permet d'aborder l'informatique aussi bien de manière théorique que pratique.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="arrows-out" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Polyvalent</h2>
		<p>Bien que je sois spécialisé dans le développement d'applications, le DUT m'a permis d'acquérir des compétences très diversifiées : je peux toucher aussi bien à de la programmation front-end/back-end, qu'à du système embarqué, de la virtualisation, de l'administration systèmes/réseaux ou encore de la base de données.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Opérationnel</h2>
		<p>Ayant réalisés plusieurs projets en équipe et plusieurs projets individuels je suis capable aussi bien de travailler en équipe qu'en autonomie. J'ai aussi été formé sur les différentes méthodologies de gestion de projet.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
